:root {
  --color--border-line: #2b2b2b;
  --color--border-line--hover: #0078d4;
  --color--menu-background: #181818;
  --color--menu-text: #cccccc;
  --color--editor-background: #1f1f1f;
  --color--editor-text: #cccccc;

  --spacing--small: 0.25rem;
  --spacing--medium: 0.5rem;
}